<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pixel-painter</title>
</head>
<style>
  .canvas{
    border: 1px solid;
    width: max-content;
  }
  .row{
    display: flex;
  }
  .dot{
    width: 10px;
    height: 10px;
    border: 1px solid;
  }
</style>
<body>
  <div id="app">
    <canvas ref="canvas" @click="handleCanvasClick"></canvas>
    <br>
    <div>当前在线人数:{{onlineCount}}</div>
    <button @click="this.pickingColor = true">{{isPickingColor ? "正在取色" : "取色"}}</button>
    <input type="color" v-model = "currentColor">
    <label v-for="color of commomColors" :style="{backgroundColor:color}">
      <input type="radio" :value="color" v-model="currentColor">{{color}}
    </label>
  </div>
</body>
<script src="vue-2.5.17.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      pixelData: [],
      commomColors: ["red","green","blue","cyan"],
      currentColor: "red",
      isPickingColor: false,
      width: 0,
      heigh: 0,
      onlineCount: 0,
    },
    methods:{
      handleCanvasClick(e){
        if(this.pickingColor){
          this.pickColor(e)
        } else {
          this.drawDot(e)
        }
      },
      drawDot(e){
        var x = e.layerX
        var y = e.layerY
        this.ws.send(JSON.stringify({
          type: "drawDot",
          x,
          y,
          color: this.currentColor,
        }))
      },
      pickColor(e){
        var x = e.layerX
        var y = e.layerY
        var p = this.ctx.getImageData(x,y,1,1).data
        this.currentColor = this.rgb2hex(p)
        this.isPickingColor = false 
      },
      rgba2hex(dot) {
        dot = Array.from(dot)
        dot = dot.map(it => it.toString(16).padStart(2, '0'))
        return '#' + dot[0] + dot[1] + dot[2]
      },

    },
    mounted(){
      //这里的9095后面加任何数字都可以??
      var ws = new WebSocket("ws://localhost:9095")
      this.ws = ws
      var canvas = this.$refs.canvas
      canvas.style.imageRendering = "pixelated"
      var ctx = canvas.getContext("2d")
      this.ctx = ctx
      ws.onmessage = ({data}) => {
        if (Object.prototype.toString.call(data) === "[object Blob]"){
          var tmpUrl = URL.createObjectURL(data)
          var image = new Image()
          image.src = tmpUrl
          //document.body.appendChild(image)
          image.onload = ()=>{
            ctx.drawImage(image,0,0)
          }
        } else {
          data = JSON.parse(data)
          this.onlineCount = data.onlineCount
          if(data.type === "updateDot"){
            ctx.fillStyle = data.color
            ctx.fillRect(data.x, data.y, 1, 1)
          }
        }
      }
    },
  })
</script>
</html>